id = "event.dev.svc.example.org"
agent_label = "alpha"
broker_id = "mqtt-gateway.dev.svc.example.org"
backend_url = "http://0.0.0.0:8000"

[id_token]
algorithm = "ES256"
key = "data/keys/svc.private_key.p8.der.sample"

[authn."iam.internal"]
audience = ["internal"]
algorithm = "HS256"
key = "docker/backend/conf.d/org.usr.example.iam.key"

[authn."iam.dev.usr.example.org"]
audience = ["dev.usr.example.org"]
algorithm = "HS256"
key = "docker/backend/conf.d/org.usr.example.iam.key"

[authz."dev.usr.example.org"]
type = "local"
trusted = ["test.dev.usr.example.org"]

[mqtt]
uri = "mqtt://0.0.0.0:1883"
clean_session = false
