id = "event.dev.svc.example.org"
agent_label = "alpha"
broker_id = "mqtt-gateway.dev.svc.example.org"

[constraint]
payload_size = 102400 # 100KB

[id_token]
algorithm = "ES256"
key = "data/keys/svc.private_key.p8.der.sample"

[authz."svc.example.org"]
type = "local"
trusted = ["cron.svc.example.org"]

[authz."dev.usr.example.org"]
type = "local"
trusted = ["test.dev.usr.example.org"]

[metrics.http]
bind_address = "0.0.0.0:8087"

[mqtt]
uri = "mqtt://0.0.0.0:1883"
clean_session = false

[telemetry]
id = "telemetry.dev.svc.example.org"

[vacuum]
max_history_size = 10
max_history_lifetime = 86400
max_deleted_lifetime = 86400
